[Desktop Entry]
Type=Application
Name=Terminal
GenericName=Terminal Emulator
Comment=A terminal on nitro-ui
Exec=nitro-term
Icon=utilities-terminal
Terminal=false
Categories=System;TerminalEmulator;
Keywords=shell;prompt;command;console;
